<section class="review-container">
    <% for (let review of reviews){%>
        <div class="review">
            <div class="book-cover">
                <img src="<%=review.cover%>" alt="">
            </div>
            <div class="title">
                <h2><%=review.title%></h2>
            </div>
            <div class="author">
                <p>Author: <%=review.author%></p>
            </div>
            <div class="genre">
                <p>Genre: <%=review.genre%></p>
            </div>
            <div class="rating">
                <p>Rating: <%=review.rating%></p>
            </div>
            <div class="date">
                <p>Date Read: <%=review.date_read%></p>
            </div>
            <div class="description">
                <p><%=review.content%></p>
            </div>
        </div>
    <%}%> 

</section>