<style>
    .review-container{
        width: 100%;
        height: auto;
        background: lightgray;
        padding: 1rem;
    }

    .review{
        width: 80%;
        margin: auto;
    }

    .book-cover{
        width: 30%;
        height: auto;
    }

    .book-cover img{
        width: 100%;
        height: auto;
    }

    .title{
        display: flex;
        gap: 1rem;
    }

    .author p span{
        font-weight: bold;
        font-weight: 500;
    }
</style>

<section class="review-container">
    <% for (let read of review){%>
        <div class="review">
            <div class="title">
                <h1><%=read.title%></h1>
            </div>
            <div class="author">
                <p><span>by</span> <%=read.author%></p>
            </div>
            <div class="book-cover">
                <img src="<%=read.cover%>" alt="">
            </div>
            <div class="genre">
                <p>Genre: <%=read.genre%></p>
            </div>
            <div class="rating">
                <p>Rating: <%=read.rating%></p>
            </div>
            <div class="date">
                <p>Date Read: <%=read.formatted_date%></p>
            </div>
            <div class="description">
                <p><%=read.content%></p>
            </div>
        </div>
    <%}%> 

</section>